@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,800;1,100;1,200;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: grey;
}
.card {
  background-color: white;
  display: flex;
  width: 500px;
  display: flex;

  margin: 50px;
  padding: 25px;
  border-radius: 15px;
}

.content-container {
  margin-top: 2px;
  margin-left: 10px;
}

.content-question {
  margin-bottom: 10px;
  margin-left: 5px;
}

.content-paragraph {
  margin-bottom: 10px;
}

.exclamation-icon {
  font-size: 30px;
}

.close-icon {
  font-size: 30px;
}

.buttons {
  height: 100%;
  gap: 5px;

  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.continue-button:hover {
  padding: 2px;
  background-color: blue;
  color: white;
}

.continue-button:active {
  background-color: chartreuse;
}

.continue-button:focus {
  background-color: darkkhaki;
}

.cancel-button:hover {
  padding: 2px;
  background-color: blue;
  color: white;
}

.cancel-button:active {
  background-color: chartreuse;
}

.cancel-button:focus {
  background-color: darkkhaki;
}

.continue-button,
.cancel-button {
  cursor: pointer;
}
